<div class="businessdetails" ng-class="$ctrl.business ? 'visible': 'hidden'">
  <div class="panel panel-default">
    <div class="panel-heading">{{$ctrl.business.id}}</div>
      <div class="panel-body">
        <label for="basic-url">Address</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="$ctrl.business.address" id=address aria-describedby="basic-addon3" value="{{$ctrl.business.address}}" >
        </div>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-success"  ng-click="$ctrl.saveAddress({business: $ctrl.business.address})">Save</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.resetSelectedBusiness()">Close</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.onDeleteSelectedBusiness({ id: $ctrl.business.id })">Delete</button>
      <div>
    </div>
  </div>
</div>
